In [83]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv('car.csv')

In [85]:
df.head()

        brand  km_driven      fuel         owner  selling_price
0  Volkswagen      99504  Electric  Second Owner         480654
1      Maruti     111923    Petrol   First Owner         271273
2     Renault      16256    Diesel  Second Owner         336430
3      Toyota     122128       CNG  Second Owner         643938
4     Renault     149374  Electric   Third Owner         328363

In [86]:
df['brand'].value_counts()

brand
Ford          151
Honda         149
Toyota        147
Skoda         147
Chevrolet     143
Maruti        138
Mahindra      135
Hyundai       134
Jeep          133
Nissan        129
MG            129
Volkswagen    126
Renault       120
Tata          114
Kia           105
Name: count, dtype: int64

In [87]:
df['fuel'].value_counts()

fuel
Electric    523
Diesel      501
CNG         492
Petrol      484
Name: count, dtype: int64

In [88]:
df['owner'].value_counts()

owner
First Owner     680
Third Owner     669
Second Owner    651
Name: count, dtype: int64

**One hot Encoding using pandas**

In [89]:
pd.get_dummies(df,columns=['fuel','owner'])      ## create the columns for different kinds of fuel , owners

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_Petrol,owner_First Owner,owner_Second Owner,owner_Third Owner
0,Volkswagen,99504,480654,False,False,True,False,False,True,False
1,Maruti,111923,271273,False,False,False,True,True,False,False
2,Renault,16256,336430,False,True,False,False,False,True,False
3,Toyota,122128,643938,True,False,False,False,False,True,False
4,Renault,149374,328363,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
1995,Kia,146004,815571,False,False,True,False,True,False,False
1996,Hyundai,29608,468644,False,True,False,False,True,False,False
1997,Ford,180493,325162,True,False,False,False,False,True,False
1998,Chevrolet,63295,345880,True,False,False,False,False,True,False
1999,MG,195155,850180,True,False,False,False,True,False,False

In [90]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)      #drop one coln from each dummies of fuel and owner

,brand,km_driven,selling_price,fuel_Diesel,fuel_Electric,fuel_Petrol,owner_Second Owner,owner_Third Owner
0,Volkswagen,99504,480654,False,True,False,True,False
1,Maruti,111923,271273,False,False,True,False,False
2,Renault,16256,336430,True,False,False,True,False
3,Toyota,122128,643938,False,False,False,True,False
4,Renault,149374,328363,False,True,False,False,True
...,...,...,...,...,...,...,...,...
1995,Kia,146004,815571,False,True,False,False,False
1996,Hyundai,29608,468644,True,False,False,False,False
1997,Ford,180493,325162,False,False,False,True,False
1998,Chevrolet,63295,345880,False,False,False,True,False
1999,MG,195155,850180,False,False,False,False,False

### Doing via Scikit Learn Manually (one hot encoding)

In [91]:
df.head()

        brand  km_driven      fuel         owner  selling_price
0  Volkswagen      99504  Electric  Second Owner         480654
1      Maruti     111923    Petrol   First Owner         271273
2     Renault      16256    Diesel  Second Owner         336430
3      Toyota     122128       CNG  Second Owner         643938
4     Renault     149374  Electric   Third Owner         328363

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],
                                                random_state=42 ,test_size=0.2)
x_test.shape,x_train.shape

((400, 4), (1600, 4))

In [93]:
from sklearn.preprocessing  import OneHotEncoder
#Teddha kaam 
ohe = OneHotEncoder(drop='first',dtype=np.int32)

In [94]:
xtraint_new = ohe.fit_transform(x_train[['fuel','owner']]).toarray()

In [95]:
x_test_new = ohe.transform(x_test[['fuel','owner']]).toarray()

In [96]:
np.hstack((x_train[['brand','km_driven']].values,xtraint_new)).shape

(1600, 7)

In [100]:
counts = df['brand'].value_counts()

In [101]:
df['brand'].nunique()
threshold = 120

In [106]:
repl = counts[counts<=threshold].index

In [108]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'))   # the uncomon categories contains cars less than 120

,Chevrolet,Ford,Honda,Hyundai,Jeep,MG,Mahindra,Maruti,Nissan,Skoda,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,True
1996,False,False,False,True,False,False,False,False,False,False,False,False,False
1997,False,True,False,False,False,False,False,False,False,False,False,False,False
1998,True,False,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,True,False,False,False,False,False,False,False